<div>{{123456 | currency:"INR"}} </div> <!--currency pipe-->
<div>{{123456 | currency:"USD"}} </div>

<div>{{date | date:'yyyy/MM/dd'}}</div> <!--date pipe-->
<div>{{date | date}}</div>
<div>{{date | date: 'shortDate'}}</div>

<div>{{"ANKIT SHARMA" |lowercase}} </div> <!--lowercase-->
<div>{{"Ankit Sharma" |lowercase}} </div> <!--lowercase-->

<div>{{"Ankit Sharma" |uppercase}} </div> <!--lowercase-->

<div>{{1223 | percent: "2.1-3"}} </div> <!--percent-->

<div><pre>{{obj | json}}</pre> </div> <!--percent-->

<div>{{456789 | fileSize}} </div>